*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
.header {
    width: 100%;
    height: 100vh;
    background-color: #a6a0a0;
}
.top__header__body {
    width: 1300px;
    height: 50px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__left__top {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-left-top__logo {
    text-decoration: underline;
}
.header-left-top__navigation {
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav__link {
    position: relative;
    color: #0d0c0c;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}
.nav__link::before{
    position: absolute;
    width: 100%;
    height: 10%;
    content: '';
    background-color: antiquewhite;
    bottom: -2px;
    left: 0;
    border-radius: 10px;
    opacity: 0;
    transition: 0.3s;
}
.nav__link:hover::before{
    opacity: 1;
}
.nav__link:hover {
    transform: translateY(-3px);
}
.header__right__top {
}
.header-right-top__txt {
    font-size: 16px;
    font-weight: 800;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 8px 5px 8px #000000cd;
}




/* ---------------------HEADER 2----------------------------- */
.header__second__block {
    width: 1300px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}
.header-second-block__left {
    width: 500px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    overflow: hidden;
}
.second-block-left__title {
    font-size: 35px;
    font-weight: 600;
    transform: translateX(-470px);
    text-shadow: 8px 5px 8px #000000c6;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation: title 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
@keyframes title {
    0% {
        transform: translateX(-470px);
    }
    100%{
        transform: translateX(0);
    }
}
.second-block-left__describe {
    font-size: 18px;
    font-weight: 500;
    transform: translateX(-480px);
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: describe 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
@keyframes describe {
    0% {
        transform: translateX(-480px);
    }
    100%{
        transform: translateX(0);
    }
}
.header-second-block__right {
    position: relative;
    width: 500px;
    height: 600px;
    transform: translateX(580px);
    animation: images 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
@keyframes images {
    0% {
        transform: translateX(580px);
    }
    100% {
        transform: translateX(0);
    }
}
.second-block-right__image {
    position: absolute;
    width: 440px;
    top: 120px;
    filter: drop-shadow(8px 5px 8px #000000d3);
}
.second-block-right__css {
    position: absolute;
    width: 120px;
    right: -20px;
    top: 170px;
    animation: icons 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
    animation-delay: 2s;
}
.second-block-right__arrows {
    width: 80px;
    position: absolute;
    top: 20px;
    left: 220px;
    animation: icons 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
    animation-delay: 1s;
}
.second-block-right__html {
    width: 120px;
    position: absolute;
    left: 50px;
    top: 150px;
    animation: icons 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate;
    animation-delay: 3s;
}
@keyframes icons {
    0% {
        transform: translateY(-15px) rotateY(-360deg);
    }
    100% {
        transform: translateY(0) rotateY(-360deg);
    }
}



/* -------------------------------------about me ------------------------------ */


  /* About me */
.me__body {
    background-color: rgb(78, 245, 245);
}
.my-profession {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
    margin: 0 0 18px 0;
}
.my-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin: 0 0 12px 0;
    text-align: center;
}
.my-adress {
    font-weight: 400;
    color: #857f7f;
    font-size: 10px;
    text-align: center;
}
.my-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #595959;
    width: 525px;
}

.about-me-container {
    margin-bottom: 64px;
}
  /* Projects */
.project-item {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}
.projects-container {
    margin-bottom: 48px;
    margin-top: 64px;
}

.praktisch__liste {
    padding: 0 0 0 15px;
    margin: 0 0 0 0;
}
.praktisch__item {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #595959;
}
.praktisch__item-place {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #005fff;
}
.praktisch__item-date {
    font-size: 10px;
    font-weight: 400;
}

.Work-Experience {
    margin-bottom: 44px;
}
.Work-Experience-position {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}
.WE-position {
    margin-bottom: 16px;
}

.we-company {
    color: #609bf5;
}

.work-period {
    font-style: normal;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    margin: 12px 0 8px 0;
}
.work-duties {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #595959;
    margin: 0;
}

.work-duties-list {
    padding: 0 0 0 16px;
    margin: 0;
}

.fähigkeiten {
    margin: 44px 0 0 0;
}
.fähigkeiten-title {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 8px 0;
}
.kenntnise {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #6d9bf5;
    margin: 12px 0 0 0;
}
.etwas {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #000;
    margin: 12px 0 0 5px;
}
.verbesserung {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #595959;
    margin: 0;
}
  /* Main content */
.Main-content {
    background-color: rgb(212, 228, 244);
    padding: 88px;
}
.Wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.Main-content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 8px 0;
}
  /* Sidebar */
.Sidebar {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 367px;
    background: #e0ebfe;
}

.my-photo {
    margin-top: 40px;
}
.contacts-container,
.tech-skills-container {
    margin-top: 48px 0px 0px 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #161d2a;
    margin-bottom: 8px;
    margin: 20px;
}
  /* Contacts */
.contacts-type {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #161d2a;
    margin-right: 8px;
    margin: 20px;
}

.contacts-item {
    margin: 0;
}

.contacts-number {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #161d2a;
}

.contacts-email {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2979ff;
}
  /* Skills */
.skills-list {
    margin: 40px;
    padding: 0;
}

.skills-list-item {
    color: #609bf5;
}
.skills-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #161d2a;
}

.soft-skills-list {
    margin: 40px;
    padding: 0;
}

.skills-list-item2 {
    color: #609bf5;
}

.skills-list-text2 {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #161d2a;
}



/* -----------------------Zertifikate--------------------------------- */

.whole__container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.video__background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    object-fit: cover;
}
.certificates__title {
    margin-right: 30px;
    font-size: 50px;
    text-shadow: 8px 5px 8px #000000bd;
    animation: h1 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards ;
}
@keyframes h1 {
    0% {
        transform: translateX(-600px);
    }
    100% {
        transform: translateX(0);
    }
}
.block__btns {
    width: 380px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.link__btn {
}
.buttons {
    background-color: #fff;
    border: 2px solid #000;
    font-size: 19px;
    border-radius: 80px;
    width: 320px;
    height: 80px;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
    cursor: pointer;
    animation: buttons 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
    box-shadow: 8px 5px 8px #000000c2;
}
@keyframes buttons {
    0%{
        transform: translateX(700px);
    }
    100%{
        transform: translateX(0);
    }
}
.buttons:hover {
    background-color: #000;
    color: #fff;
}
.body1 {
    background-image: url(./images/computer-2982270_1280.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.doc__image {
    border: 8px solid #000;
    width: 700px;
    height: 800px;
    display: block;
    margin: 0 auto;
}